@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --textColor: #bc00cc;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.headerMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 20px;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.15) !important;
  top: 0;
  position: sticky;
  background-color: white;
}
.navigationBox {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
a {
  text-decoration: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.822);
}
a:hover {
  border-bottom: 1px solid black;
  color: rgba(0, 0, 0, 0.955);
}
.name {
  font-size: 20px;
  font-weight: bold;
  /* color: rgb(91, 33, 182); */
  color: #bc00cc;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.A {
  display: grid;
  grid-template-columns: 50% 40%;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 10px 50px;
  gap: 50px;
}
.bgImg {
  width: 100%;
  /* padding-right: 30px; */
}
.A11 span {
  color: var(--textColor);
}
.A1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  padding: 60px;
}
.A1 .A11 {
  font-size: 32px;
  font-weight: 500;
}
.A1 p {
  color: #6b7280;
}
.A12 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* padding-right: 30px; */
}
.A121 {
  background-color: #bc00cc;
  border: #bc00cc;
  padding: 15px;
  border-radius: 6px;
  color: white;
  font-size: 13px;
}
.A122 {
  background-color: #bb2d3b;
  border: #bb2d3b;
  padding: 15px 20px 15px 20px;
  border-radius: 6px;
  color: white;
  font-size: 15px;
}
.A12 .A121,
.A122:hover {
  color: white;
}
.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.posts p {
  font-size: 28px;
  font-weight: 500;
}
.B,
.container {
  display: grid;
  grid-template-columns: 29% 29% 29%;
  justify-content: center;
  padding: 0px 30px;
  gap: 25px;
  row-gap: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  /* gap: 50px; */
  border-radius: 10px;
  box-shadow: 0 1rem 0.7rem rgba(0, 0, 0, 0.2) !important;
}
.card img {
  width: 100%;
  /* border-top: 10px;
   */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card .para {
  font-size: 22px;
  font-weight: 500;
}
.card .box {
  display: flex;
  flex-direction: column;
  /* gap: 0px; */
  padding: 15px 25px 40px 25px;
  line-height: 25px;
  /* flex-wrap: wrap; */
}
.card .box p {
  font-size: 13px;
  /* color: #6b7280; */
  /* font-weight: 300; */
  line-height: 20px;
  color: rgba(0, 0, 0, 0.685);
}
.card button {
  width: fit-content;
  padding: 8px 15px 8px 15px;
  border-radius: 15px;
  background-color: var(--textColor);
  color: white;
  box-shadow: none;
  border-style: none;
  margin-top: 15px;
}
.container {
  width: fit-content;
  padding: 70px 30px 80px 30px;
}
.mainCourse {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
  /* flex-wrap: wrap; */
  width: 65%;
}

.courseBox {
  display: flex;
  flex-direction: column;
  gap: 0px;
  box-shadow: 0 1rem 0.7rem rgba(0, 0, 0, 0.14) !important;
  padding: 15px 40px 30px 40px;
  border-top: 1px solid #8080804d;
  border-right: 1px solid #8080804d;
  border-left: 1px solid #8080804d;
}
.courseBox .dates {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 100;
  margin-bottom: 10px;
}
.courseBox p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 6px;
}
.courseBox button {
  padding: 8px 12px 8px 12px;
  font-size: 15px;
  width: fit-content;
  color: rgba(0, 0, 0, 0.859);
}
.courseBox .head {
  margin: 0px;
  color: rgba(0, 0, 0, 0.859);
  font-size: 23px;
  font-weight: 600;
  line-height: 32px;
}
.twoContainers {
  display: grid;
  grid-template-columns: 45% 40%;
  padding: 80px;
  justify-content: space-evenly;
}
.twoContainers img {
  width: 50%;
}
.aboutContainer,
.formContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1rem 0.7rem rgba(0, 0, 0, 0.14) !important;
  border-top: 1px solid #8080804d;
  border-right: 1px solid #8080804d;
  border-left: 1px solid #8080804d;
  padding: 30px 30px 30px 30px;
  gap: 20px;
}
.formContainer .formContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  /* font-size: large; */
  padding: 10px 0px 10px 0px;
  line-height: 17px;
  gap: 8px;
  color: #4b5563;
  font-weight: 700;
}
.formContent input {
  padding: 9px;
  border-radius: 10px;
  border-style: none;
  background-color: #d1d5db;
}
.formContent .text {
  height: 200px;
}
.formContainer button {
  /* padding-left: 5px;
   */
  /* margin-left: 5px; */
  padding: 10px;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  border-style: none;
  background-color: var(--textColor);
  cursor: pointer;
}
.formContainer button:hover {
  /* color: ; */
  background-color: #8a0996;
}
.aboutContainer {
  align-items: center;
  /* gap: 10px; */
}
.aboutContainer .subHeading {
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.859);
}
.aboutContainer p {
  font-size: 15px;
  margin-top: 3px;
  color: rgba(0, 0, 0, 0.859);
  align-self: center;
  /* flex-wrap: wrap; */
}
.aboutContainer .mainHeading {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.859);
  font-size: 28px;
}
.blogContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px;
  width: 68%;
  /* align-items: center; */
  margin: 40px 50px 50px 100px;
}
.blogContent h1,
h2 {
  margin-bottom: 0px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.859);
}
.blogContent p {
  font-size: 16px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.859);
}
.blogContent .date1 {
  color: rgba(0, 0, 0, 0.7);
}
.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 60px;
  width: 68%;
  /* align-items: center; */
  margin: 40px 50px 50px 100px;
}
.H1,
.H2,
.H3,
.H4,
.H5 {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}
.H1 .heading1 {
  font-size: 33px;
  font-weight: 750;
  color: rgba(0, 0, 0, 0.859);
}
.H1 .date {
  color: rgba(0, 0, 0, 0.7);
}
.H1,
.H2,
.H3,
.H4,
.H5 p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.859);
}
.H5 a {
  color: var(--textColor);
  font-weight: 500;
  text-decoration: underline;
}
.H5 a:hover {
  border: none;
}
.H5 span {
  padding: 0px 5px;
}
.H2 .heading2 {
  font-size: 30px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.859);
}
.H3 .heading3 {
  font-size: 30px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.859);
}
.H4 .heading4,
.H5 .heading5 {
  font-size: 30px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.859);
}
.footer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  background-color: whitesmoke;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer .container1 {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 15px;
  align-items: center;
}

.footer .container1 .text2 {
  font-size: 13px;
  color: grey;
}
.footer .container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.footer a:hover {
  color: #bc00cc;
  border: none;
}
